<!DOCTYPE HTML>
<!--https://wptheming.com/2015/03/angular-json-api-example/ -->
<html class="no-js" lang="" ng-app="app"  disable-right-clicks>
	<head>
		<meta charset="UTF-8">
		<title>Web App</title>
		 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		  <link rel="manifest" href="site.webmanifest">
          <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
       <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/main.css">
<script src="lib/angular/lib/angular.min.js"></script>
<script src="lib/angular/lib/angular-route.min.js"></script>
<script type="text/javascript" src="lib/angular/app.js"></script>
<script type="text/javascript" src="lib/angular/directive.js"></script>
	</head>
	<body>

<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 Boilerplate.</p>
   <input type="text" ng-model='searach' placeholder="abs" />
  <div ng-controller="MainController">
  {{message}}
  <ul>
	 <li ng-repeat="x in ninjas | orderBy:'name' | filter:searach">{{x.name}}- {{x.rate | currency:'Rs. '}}</li>
	 </ul>
  </div>

  <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
   <script src="assets/js/bootstrap.min.js"></script>
   <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>
