<!DOCTYPE HTML>
<!--https://wptheming.com/2015/03/angular-json-api-example/ -->
<html class="no-js" lang="" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Web App</title>
		 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		  <link rel="manifest" href="site.webmanifest">
          <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,700i,800|Roboto:100,100i,400" rel="stylesheet"> -->
       <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="css/styles.css" type="text/css" />
<script src="lib/angular/lib/angular.min.js"></script>
<script src="lib/angular/lib/angular-route.min.js"></script>
<script type="text/javascript" src="lib/angular/app.js"></script>
<script type="text/javascript" src="lib/angular/controller/date.js"></script>
<body>
<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
<header>
<nav id="main-nav">
<div class="wrapper">
    <ul>
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Services</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Portfolio</a></li>
    <li><a href="">Contact</a></li>
    </ul>
    </div>
</nav> 
    <div class="lead-banner">
    <img src="img/banner-1.jpg" alt="" />
        <div class="banner-content">
        <div class="wrapper">
        <span class="title"> Hello WOrld</span>   
        <span class="sub-sitle"> Lorem Ipsum </span>   
        </div>
        </div>
    </div>
</header>
<section id="about">
<div class="wrapper">
<input type="text" ng-model='fruits' placeholder="abs" />
  <p>Your fav: {{fruits}}</p>
  <button id="asd" class="btn btn-success">Clcik me</button>
</div>
</section>
 <section id="services">
	<div class="wrapper">
		<h1>Services</h1>
		<p></p>
		<ul>
			<li><img src="img/icon-1.png" alt="icon-1" /><a href="">Heading 1</a></li>
			<li><img src="img/icon-2.png" alt="icon-1" /><a href="">Heading 2</a></li>
			<li><img src="img/icon-3.png" alt="icon-1" /><a href="">Heading 3</a></li>
			<li><img src="img/icon-4.png" alt="icon-1" /><a href="">Heading 4</a></li>
		</ul>
	</div>
</section>
     <div class="lessons-banner">
    <img src="img/banner-2.jpg" alt="" />
        <div class="banner-content">
        <div class="wrapper">
        <span class="title"> Hello WOrld</span>   
        <span class="sub-sitle"> Lorem Ipsum </span>  
        <ul>
         	<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quisquam!</li>
         	<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quisquam!</li>
         	<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quisquam!</li>
         </ul> 
        </div>
        </div>
    </div>
    <div id="projects">
	<div class="wrapper">
		<h2>Our Projects</h2>
		<ul>
			<li><img src="http://placehold.it/150x150" alt=""></li>
			<li><img src="http://placehold.it/150x150" alt=""></li>
			<li><img src="http://placehold.it/150x150" alt=""></li>
			<li><img src="http://placehold.it/150x150" alt=""></li>
			<li><img src="http://placehold.it/150x150" alt=""></li>
			<li><img src="http://placehold.it/150x150" alt=""></li>
			<li><img src="http://placehold.it/150x150" alt=""></li>
			<li><img src="http://placehold.it/150x150" alt=""></li>
			<li><img src="http://placehold.it/150x150" alt=""></li>
			<li><img src="http://placehold.it/150x150" alt=""></li>
			<li><img src="http://placehold.it/150x150" alt=""></li>
			<li><img src="http://placehold.it/150x150" alt=""></li>
		</ul>
	</div>
</div>

<footer>
<div class="wrapper">
 <span ng-controller="date">{{ today | date :  "y" }}</span>
</div>
</footer>
 <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
   <script src="assets/js/bootstrap.bundle.min.js"></script>
   <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>

