<div class="content">
	<form name="contactForm" ng-submit="sendMessage()" novalidate>
		<input type="text" name="name" ng-model="contact.name" placeholder="Name" ng-required='true'>
		<div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
			<small style="color: red;display: block;text-align: center;">Enter a valid name</small>
		</div>
		<input type="email" name="email" ng-model="contact.email" placeholder="Email" ng-required='true'>
		<div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
			<small style="color: red;display: block;text-align: center;">Enter a valid Email</small>
		</div>
		<textarea name="message" ng-model="contact.message" placeholder="Your Message" ng-required='true'></textarea>
		<input type="submit" value="Send" ng-disabled='contactForm.$invalid'>
	</form>
</div>