<div class="content">
   <input type="text" ng-model='searach' placeholder="abs" />
  <div>
  <p>{{message}}</p>
  <button ng-click="order = 'name'">Order By Name</button>
  <button ng-click="order = 'belt'">Order By Belt</button>
  <ul class="list">
	 <li ng-repeat="x in ninjas | orderBy:order | filter:searach" ng-show='x.available'>
    <img ng-src="{{x.thumb}}" alt=""style="margin: -12px 10px 0px 0px; float:left;width:50px" ng-show="x.thumb" />
    <h3>{{x.name}}- {{x.rate | currency:'Rs. '}}</h3> 
  <div class="remove" ng-click="remove(x)">x</div>
  <span class="belt" style="background: {{x.belt}}"> {{x.belt}} Belt</span>
  </li>
	 </ul>
   <form ng-submit="addNinja()">
     <input type="text" placeholder="Name" ng-model="newninja.name">
     <input type="text" placeholder="Belt" ng-model="newninja.belt">
     <input type="text" placeholder="Rate" ng-model="newninja.rate">
     <input type="submit" value="Add new ninja">
   </form>
   <a href="" ng-click="removeAll()">Remove All</a>
  </div>
</div>