<div class="content">
	 <h4>{{title}}</h4>

 <img ng-src="{{ninjas[random].thumb}}" alt=""style="margin: -12px 10px 0px 0px; float:left;width:50px" ng-show="ninjas[random].thumb" />
    <h3>{{ninjas[random].name}}- {{ninjas[random].rate | currency:'Rs. '}}</h3> 
     <div ng-transclude></div>
</div>